#mockup-container { 
    margin: auto; 
    width: 50%; 
    background-color: antiquewhite;
}

#mockup-image {
    height: 100%;
    width: 100%;
}

#design-bounds {
    position: absolute;
    height: 600px;
    width: 450px;
    border: 2px dashed black;
}


#image-box {
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
}

#image-file {
    resize: both;
    overflow: auto;
    transform:translate(-50%,-50%);
    border:2px solid green;
    height: 500px;
    width: 500px;
}

#image {
    height: 100%;
    width: 100%;
}