{% extends "base/base.html" %}
{% load static %}



{% block pagebody %}
<link rel="stylesheet" href="{% static "clubs\stylesheets\club_base.css" %}">
<div class="grid-container">
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
            <span class="badge bg-primary price-tag">$29.99</span>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">CSHS Embroidered Logo: Champion Sweater</div>
            <div class="card-body">
              <img src="{% static "clubs\media\cshs_embroidery.png" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
  </div>
{% endblock %}